* {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-display: swap;
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 500;
    src:  url('/assets/fonts/figtree-v5-latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 800;
    src:  url('/assets/fonts/figtree-v5-latin-800.woff2') format('woff2');
}

body {
    background: hsl(47, 88%, 63%);
    font-family: 'Figtree', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: calc(1em + 0.5rem);
    -webkit-font-smoothing: antialiased;
}

main {
    background: hsl(0, 0%, 100%);
    border-radius: 1.25rem;
    max-width: 23.5rem;
    padding: 1.5rem;
    font-size: 1rem;
    box-shadow: 8px 8px 0px 0px #000000;
    border: 1px solid black;
}

.article-pic {
    max-width: 100%;
    border-radius: 0.625em;
    object-fit: cover;
}

.tag {
    background: hsl(47, 88%, 63%);
    font-weight: 800; 
    max-width: 30%;
    padding: 0.25em;
    margin: 1.25em 0 0.75em 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date {
    font-weight: 500;
    color: hsl(0, 0%, 7%);
}

.title {
    font-size: 1.5em;
}

.date, .title {
    margin-bottom: 1rem;
}

.description {
    font-weight: 500;
    color: hsl(0, 0%, 42%);
}

.author {
    margin-top: 1.5em;
    display: flex;
    align-items:center;
}

.author-pic {
    max-width: 2.5em;
}

.author-name {
    margin-left: 0.625em;
    font-size: 1em;
}

@media screen and (max-width: 400px) {
    main {
        max-width: 20.5rem;
        font-size: 0.9rem;
        padding: 1.4rem;
    }
    /* .title {
        font-size: 1.3em;
    } */
    /* .description {
        font-size: 0.89rem
    } */
}